body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: auto;
    width: 98%;
    margin: 40px 0;
}

#tab-controls {
    margin-bottom: 0;
    display: flex;
}

#tab-controls a {
    display: inline-block;            /* インラインブロック化 */
    width: 33.3%;
    text-align: center;
    border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
    border-style: solid;              /* 枠線の種類：実線 */
    border-color: black;              /* 枠線の色：黒色 */
    border-radius: 3px 3px 0 0; /* 枠線の左上角と右上角だけを丸く */
    padding: 0.5em 0;              /* 内側の余白 */
    text-decoration: none;            /* リンクの下線を消す */
    color: black;                     /* 文字色：黒色 */
    font-size: 20px;
    font-weight: bold;
    background-color: white;          /* 背景色：白色 */
    position: relative;               /* JavaScriptでz-indexを調整するために必要 */
 }

 #tab-contents div {
    border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
    border-radius: 0 0 3px 3px; /* 枠線の左上角と右上角だけを丸く */
    margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    margin-bottom: 10px;
    padding: 1em;            /* 内側の余白量 */
    background-color: white; /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;              /* 重なり順序を「最も背面」にするため */
 }
#tab-controls a:nth-child(1), #tab-contents div:nth-child(1) { background-color: #ffffdd; }/* 1つ目のタブとその中身用の配色 */
#tab-controls a:nth-child(2), #tab-contents div:nth-child(2) { background-color: #ddffdd; }/* 2つ目のタブとその中身用の配色 */

.footer-message {
    font-size: 12px;
}