#qr-reader-area, #result-qr-area {
    width: min(300px, 90vw);
}

#canvas-area {
    width: min(300px, 90vw);
    height: min(300px, 90vw);
}

canvas {
    width: min(300px,90vw);
}

.title {
    width: min(25vmin, 100px);
}

#form-area,#result-qr-area {
    display: none;
}

.score {
    width: min(6vmin, 40px);
    height: min(6vmin, 40px);
}
.form-check-label {
    margin-left: 2vw;
}
